@keyframes animation{
    from{
        transform: translateY(100vh) scale(0);
    }
    to{
        transform: translateY(-10vh) scale(1);
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.body{
    min-height: 100vh;
    background: #11102b;
    
    z-index: -2;
}
.container{
    position: fixed;
    width: 100%;
    height: 100vh;
}
.bolhas{
    position: absolute;
    display: flex;
    z-index: -1;
}

.bolhas span{
    width: 30px;
    height: 30px;
    background-color: #480e81;
    margin: 0 4;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #480e8144,
    0 0 50px #480e81,
    0 0 100px #480e81;

    animation: animation calc(30s / var(--i)) linear infinite;
    z-index: -1;
}
.bolhas span:nth-of-type(even){
    background: #8f0f75;
    box-shadow: 0 0 0 10px #8f0f7544,
    0 0 50px #8f0f75,
    0 0 100px #8f0f75;

}
.circulo {
    width: 140px !important;
    height: 140px !important;
    border-radius: 50%!important;
   
    }
    
    .zoom:hover {
        color: rgb(255, 255, 255);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
        opacity: 0.8;
        transition: 0.1s;
        border: 3px solid white;
    }

    @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

    :root {
      --primary-color: #a855f7;
      --primary-color-dark: #9333ea;
      --secondary-color: #ca8a04;
      --text-dark: #1f2937;
      --text-light: #6b7280;
      
      --max-width: 1200px;
    }
    
    * {
      padding: 0;
      margin: 0;
      box-sizing: border-box;
    }
    
    a {
      text-decoration: none;
    }
    
    body {
      font-family: "Poppins", sans-serif;
    }
    
    nav {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      background-color: #ffffff;
      z-index: 99;
    }
    
    .nav__content {
      max-width: var(--max-width);
      margin: auto;
      padding: 1.5rem 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    
    nav .logo a {
      font-size: 1.5rem;
      font-weight: 600;
      color: var(--primary-color);
      transition: 0.3s;
    }
 
    nav .checkbox {
      display: none;
    }
    
    nav input {
      display: none;
    }
    nav .checkbox i {
      font-size: 2rem;
      color: var(--primary-color);
      cursor: pointer;
    }
    
    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      list-style: none;
      transition: left 0.3s;
    }
    
    ul li a {
      padding: 0.5rem 1rem;
      border: 2px solid transparent;
      text-decoration: none;
      font-weight: 600;
      color: var(--text-dark);
      transition: 0.3s;
    }
    

    
    .section {
      background-color: var(--extra-light);
    }
    
    .section__container {
      min-height: 100vh;
      max-width: var(--max-width);
      margin: auto;
      padding: 1rem;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
    }
    
    .subtitle {
      letter-spacing: 2px;
      color: var(--text-light);
      font-weight: 600;
      margin-bottom: 0.5rem;
    }
    
    .title {
      font-weight: bold;
      line-height: 3rem;
      color: var(--text-dark);  
      margin-bottom: 1rem;
      margin-left: -10px;
    }
    
    .titles {
      font-weight: 300;
      margin-left: 39px;
    }
    
    .description {
      line-height: 1.5rem;
      color: var(--text-light);
      margin-bottom: 2rem;
      margin-left: 40px;
    }
    
    .margem-img {
      margin-left: 30px;
    }
    .action__btns {
      display: flex;
      gap: 1rem;
    }
    
    .action__btns button {
      font-size: 1rem;
      font-weight: 600;
      letter-spacing: 2px;
      padding: 1rem 2rem;
      outline: none;
      border: 2px solid var(--primary-color);
      border-radius: 10px;
      transition: 0.3s;
      cursor: pointer;
    }
    
    .hire__me {
      background-color: var(--primary-color);
      color: #ffffff;
    }
    
  
    
    .portfolio {
      color: var(--primary-color);
    }
    
  
    
    .image {
      display: grid;
      place-items: center;
    }
    
    .image img {
      width: min(25rem, 50%);
      border-radius: 100%;
    }
    
    @media (width < 750px) {
      nav .checkbox {
        display: block;
      }
    
      ul {
        position: absolute;
        width: 100%;
        height: calc(100vh - 85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
      }
    
      nav #check:checked ~ ul {
        left: 0;
      }
    
      ul li a {
        font-size: 1.25rem;
      }
    
      .section__container {
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1, 1fr);
      }
    
      .image {
        grid-area: 1/1/2/2;
      }
    
      .action__btns {
        margin: auto;
      }
    }
    /* código bugado */
    /* GENERAL */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

p {
  color: rgb(85, 85, 85);
}

/* TRANSITION */

a,
.btn {
  transition: all 300ms ease;
}

/* DESKTOP NAV */

nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: black;
  text-decoration: none;
  text-decoration-color: white;
}


.logo {
  font-size: 2rem;
}



/* HAMBURGER MENU */

#hamburger-nav {
  display: none;
}

.hamburger-menu {
  position: relative;
  display: inline-block;
}

.hamburger-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 24px;
  width: 30px;
  cursor: pointer;
}

.hamburger-icon span {
  width: 100%;
  height: 2px;
  background-color: black;
  transition: all 0.3 ease-in-out;
}

.menu-links {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  width: fit-content;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3 ease-in-out;
}

.menu-links a {
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}

.menu-links li {
  list-style: none;
}

.menu-links.open {
  max-height: 300px;
}

.hamburger-icon.open span:first-child {
  transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
  opacity: 0;
}

.hamburger-icon.open span:last-child {
  transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
  transform: none;
}

.hamburger-icon span:first-child {
  opacity: 1;
}

.hamburger-icon span:first-child {
  transform: none;
}

/* SECTIONS */

section {
  padding-top: 4vh;
  height: 96vh;
  margin: 0 10rem;
  box-sizing: border-box;
  min-height: fit-content;
}

.section-container {
  display: flex;
}

/* PROFILE SECTION */

#profile {
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}

.section__pic-container {
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0;
}

.section__text {
  align-self: center;
  text-align: center;
}

.section__text p {
  font-weight: 600;
}

.section__text__p1 {
  text-align: center;
}

.section__text__p2 {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 3rem;
  text-align: center;
}

#socials-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}

/* ICONS */

.icon {
  cursor: pointer;
  height: 2rem;
}

/* BUTTONS */

.btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.btn {
  font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

.btn-color-1,
.btn-color-2 {
  border: rgb(53, 53, 53) 0.1rem solid;
}







.btn-color-2 {
  background: none;
}


.btn-container {
  gap: 1rem;
}

/* ABOUT SECTION */

#about {
  position: relative;
}

.about-containers {
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.about-details-container {
  justify-content: center;
  flex-direction: column;
}

.about-containers,
.about-details-container {
  display: flex;
}

.about-pic {
  border-radius: 2rem;
}

.arrow {
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}

.details-container {
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  text-align: center;
}

.section-container {
  gap: 4rem;
  height: 100%;
}

.section__pic-container {
  height: 400px;
  width: 400px;
  margin: auto 0;
}

/* EXPERIENCE SECTION */

#experience {
  position: relative;
}

.experience-sub-title {
  color: rgb(85, 85, 85);
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}

.experience-details-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.article-container {
  display: flex;
  text-align: initial;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}

article {
  display: flex;
  width: 10rem;
  justify-content: space-around;
  gap: 0.5rem;
}

article .icon {
  cursor: default;
}

/* PROJECTS SECTION */

#projects {
  position: relative;
}

.color-container {
  border-color: rgb(163, 163, 163);
  background: rgb(250, 250, 250);
}

.project-img {
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}

.project-title {
  margin: 1rem;
  color: black;
}

.project-btn {
  color: black;
  border-color: rgb(163, 163, 163);
}

/* CONTACT */

#contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}

.contact-info-upper-container {
  display: flex;
  justify-content: center;
  border-radius: 2rem;
  border: rgb(53, 53, 53) 0.1rem solid;
  border-color: rgb(163, 163, 163);
  background: (250, 250, 250);
  margin: 2rem auto;
  padding: 0.5rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}

.contact-info-container p {
  font-size: larger;
}

.contact-icon {
  cursor: default;
}

.email-icon {
  height: 2.5rem;
}

FOOTER SECTION



Média Query
  @media screen and (max-width: 1600px) {
    #profile {
      height: 83vh;
      margin-bottom: 6rem;
    }
    .about-containers {
      flex-wrap: wrap;
    }
    #contact,
    #projects {
      height: fit-content;
    }
  }

@media screen and (max-width: 1200px) {
  #desktop-nav {
    display: none;
  }
  #hamburger-nav {
    display: flex;
  }
  #experience,
  .experience-details-container {
    margin-top: 2rem;
  }
  #profile,
  .section-container {
    display: block;
  }
  .arrow {
    display: none;
  }
  section,
  .section-container {
    height: fit-content;
  }
  section {
    margin: 0 5%;
  }
  .section__pic-container {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }
  .about-containers {
    margin-top: 0;
  }
}

@media screen and (max-width: 600px) {
  #contact,
  footer {
    height: 40vh;
  }
  #profile {
    height: 83vh;
    margin-bottom: 0;
  }
  article {
    font-size: 1rem;
  }
  /* footer nav {
    height: fit-content;
    margin-bottom: 2rem;
  } */
  .about-containers,
  .contact-info-upper-container,
  .btn-container {
    flex-wrap: wrap;
  }
  .contact-info-container {
    margin: 0;
  }
  .contact-info-container p,
  .nav-links li a {
    font-size: 1rem;
  }
  .experience-sub-title {
    font-size: 1.25rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .nav-links {
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
  }
  .section__pic-container {
    width: auto;
    height: 46vw;
    justify-content: center;
  }
  .section__text__p2 {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }
  .text-container {
    text-align: justify;
  }
}

/* hover */
a {
  text-decoration: none;
}
.texto {
  color:white;
}
.mouse:hover {
  text-decoration: underline;
  transition: 0.1s;
}
.image:hover {
  color: gray;
}

